body{
 
    background-size: cover;  
    color: white; 
    text-align: justify;  
}

.c1{
    padding: 5%;
}
.c2{
    padding: 2%;
    background-color: rebeccapurple;
}
.dayc{
    color: white;
}
.dayDes{
    padding-left: 3%;
    color: white;    
}
.card-header1{
    color: black;
}
div { background-color: black;
    opacity: 0.9;
  }


.all{
    background: none !important
}



